/* build time:Sun Apr 09 2023 16:37:40 GMT+0800 (GMT+08:00)*/
@keyframes bounceOut{20%{transform:scale3d(.9,.9,.9)}50%,55%{opacity:1;transform:scale3d(1.1,1.1,1.1)}to{opacity:0;transform:scale3d(.3,.3,.3)}}.bounceOut{animation-duration:.75s;animation-name:bounceOut}
/* rebuild by neat */